.navbar{
    background-color: #ffffff;
    padding: 20px;
    width: 75%;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
    border: 2px solid rgba(0, 0, 0, 0.205);
}
.navbar .nav-link{
    color: rgba(0, 0, 0, 0.884);
    display: flex;
    align-items: center;
    height: 30px;
}
.navbar .nav-item:hover{
    background-color: rgba(102, 102, 102, 0.158);
    border-radius: 10px;
    transition: 0.2s;
    
}
a{
    margin: 0;
}